{% extends 'base.html' %}
{% block title %}User Detail{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 align-self-start justify-content-center">
            <img src="{{user. image_url}}" class="rounded" alt="{{user.first_name}} {{user.last_name}}">
        </div>
        <div class="col-6 align-items-center justify-content-center">
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <form action="/users/{{user.id}}/edit">
                <button class="btn btn-outline-primary">Edit</button>
            </form>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button class="btn btn-outline-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}