{% extends 'base.html' %}
{% block title %}New User Form{%endblock%}
{% block content %}
<h1>Create a User</h1>
<form method="post">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name:</label>
    <input type="text" name="lastName" id="lastName">
    <label for="imgUrl">Image URL</label>
    <input type="text" name="imgUrl" id="imgUrl">
    <button class="btn btn-outline-primary">Add</button>
</form>
{%endblock%}